/**************************************************\
|* Style Author: Djordje Jocic                    *|
|* Style Year: 2015                               *|
|* Official Website: http://www.djordjejocic.com/ *|
\**************************************************/

/* Core */

*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #000;
    color: #cfcfcf;
    font-family: sans-serif;
    margin: 150px 0 0 0;
}

.example
{
    margin: 0 0 150px 0;
}

#example-1
{
    background: #111 url(../img/1.jpg) no-repeat 0px 0px;
    background-size: 100% auto;
}
