/***********************************************************\
|* Website: https://www.djordjejocic.com                   *|
|* Author: Djordje Jocic <office@djordjejocic.com>         *|
|* ------------------------------------------------------- *|
|* Filename: dark.scss                                     *|
|* ------------------------------------------------------- *|
|* Order of CSS properites is following:                   *|
|*                                                         *|
|* 1. background                                           *|
|* 2. display                                              *|
|* 3. position                                             *|
|* 4. width                                                *|
|* 5. height                                               *|
|* 6. margin                                               *|
|* 7. padding                                              *|
|* 8. font                                                 *|
|* 9. text                                                 *|
|* 10. letter                                              *|
|* 11. color                                               *|
|* 12. border                                              *|
|* 13. transitions                                         *|
|*                                                         *|
|* Everything else should goes to the bottom.              *|
|* ------------------------------------------------------- *|
|* Copyright (C) 2018                                      *|
\***********************************************************/

/* Wrapper */

.parallax.parallax-dark {
    background: #111;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    
    /* Preloader */
    
    .parallax-preloader {
        background: #111 url(../images/preloader-dark.gif) no-repeat center center;
    }
}
